<html lang="en" >
<head>
    <title>Translators Manager | Bureau Works</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="https://www.bureauworks.com/favicon.ico">

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700 " rel="stylesheet " type="text/css ">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap" rel="stylesheet">
    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="App" ng-cloak>

<div layout="column" layout-align="center center" ng-controller="TranslatorCtrl" ng-cloak class="main-body">
    <div flex="">
        <div layout="column" class="header" layout-align="center center">
            <div flex="">
                <img class="image-header" src="assets/images/bw.png">
            </div>
            <div flex="" class="main-title">
                Translators Manager
            </div>
            <div flex="50">
                <md-input-container md-no-float class="md-block">
                    <input ng-model="searchTranslator" type="text" placeholder="Search a translator" aria-label="Translator" width="200px">
                    <md-icon style="display:inline-block;"><i class="fas fa-search"></i></md-icon>
                </md-input-container>
            </div>
        </div>
    </div>

    <div flex="">
        <div layout="column">
            <div layout="row" layout-align="center center" layout-wrap>
                <md-card class="card-translator" ng-repeat="translator in translators | filter:searchTranslator">
                    <md-card-header>
                        <md-card-avatar>
                            <img src="assets/images/perfil.jpeg"/>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{translator.name}}</span>
                            <span class="md-subhead">{{translator.email}}</span>
                        </md-card-header-text>
                    </md-card-header>

                    <md-card-content>
                        <div layout="row" layout-align="start center">
                            <div><img class="flag" height="30px" ng-attr-title="Source language: {{translator.sourceLanguage}}" ng-src="assets/images/flags/{{translator.sourceLanguage}}.svg"></div>
                            <div><i class="fas fa-long-arrow-alt-right flag"></i></div>
                            <div><img class="flag" height="30px" title="Target language: {{translator.targetLanguage}}" ng-src="assets/images/flags/{{translator.targetLanguage}}.svg"></div>
                        </div>
                    </md-card-content>

                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-icon-button" aria-label="Favorite" ng-click="showDialog(translator, $event)">
                            <i class="fas fa-user-edit"></i>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Settings" ng-click="showConfirm(translator.id, $event)">
                            <i class="fas fa-trash"></i>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>
    <div class="floating-button">
        <md-button class="md-fab md-warn"  aria-label="Add translator" ng-click="showDialog(undefined, $event)">
            <i class="fas fa-user-plus"></i>
        </md-button>
    </div>
</div>
<footer>
    <div layout="column" layout-align="center center">
        <div>
            <h3>Developed by Iverson Pereira</h3>
        </div>
    </div>
</footer>

<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

<!-- Your application bootstrap  -->
<script src="js/app.js"></script>

</body>
</html>